@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    position: relative;
    width: 500px;
    padding: 2px 6px 0px 2px;
    max-width: 85vw;
    height: 70vh;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.card > h3 {
    position: absolute;
    bottom: 10px;
    color: #fff;
}

.card__container {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}
.evenly {
    display: flex;
    justify-content: space-evenly;
}

.swipe {
    position: absolute;
}